<% if (!cookiesAcepted) { %>
<div class="cookies" id = "cookie">
<h1> Uso de Cookies</h1>

<p> Nos vemos obligados..</p>
<div class="botones">
    <button id="aceptar"> Aceptar </button>
    <button id="rechazar"> Rechazar </button>
</div>

</div>
<% } %>
</body>
</html>